## data mining para finanças - bolsa de valores

In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Carregar dados do indicador Radar_Ibovespa
close = pd.read_csv('D_CLOSE.csv')

In [3]:
close.head(3)

,data,lastprice,bova11,closevale,closeitub,closepetr,closeb3sa,closebbdc,closepetr.1,closeabev,...,closebrml,closecrfb,closetaee,closebrkm,closeembr,closemult,closecpfe,closemrve,closemrfg,closeenbr
0,2020-01-02 09:00:00,117000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2020-01-02 09:01:00,117020.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-01-02 09:02:00,117025.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
close.shape

(144248, 75)

In [13]:
close.dtypes

data          object
lastprice    float64
bova11       float64
closevale    float64
closeitub    float64
              ...
closemult    float64
closecpfe    float64
closemrve    float64
closemrfg    float64
closeenbr    float64
Length: 75, dtype: object

In [14]:
close['data'][3].split(' ')[0].split('-')

['2020', '01', '02']

In [15]:
ano = close['data'][3].split(' ')[0].split('-')[0]
mes = close['data'][3].split(' ')[0].split('-')[1]
dia = close['data'][3].split(' ')[0].split('-')[2]

In [16]:
ano

'2020'

In [17]:
mes

'01'

In [18]:
ano

'2020'

In [20]:
close['data'][3].split(' ')[1][0:2]

'09'

In [22]:
close['data'][3].split(' ')[1].split(':')[0]

'09'

In [28]:
def separa(x):
    return x.split(' ')

In [33]:
f = lambda x: x.split(' ')

In [34]:
f(close['data'][0])

['2020-01-02', '09:00:00']

In [29]:
Teste = close['data'].apply(separa)

In [30]:
Teste

0         [2020-01-02, 09:00:00]
1         [2020-01-02, 09:01:00]
2         [2020-01-02, 09:02:00]
3         [2020-01-02, 09:03:00]
4         [2020-01-02, 09:04:00]
                   ...
144243    [2021-01-29, 18:20:00]
144244    [2021-01-29, 18:21:00]
144245    [2021-01-29, 18:22:00]
144246    [2021-01-29, 18:23:00]
144247    [2021-01-29, 18:24:00]
Name: data, Length: 144248, dtype: object

In [37]:
Ano = close['data'].apply(lambda x: int(x.split(' ')[0].split('-')[0]))

In [39]:
Ano

0         2020
1         2020
2         2020
3         2020
4         2020
          ...
144243    2021
144244    2021
144245    2021
144246    2021
144247    2021
Name: data, Length: 144248, dtype: int64

In [40]:
Mes = close['data'].apply(lambda x: int(x.split(' ')[0].split('-')[1]) )
Dia = close['data'].apply(lambda x: int(x.split(' ')[0].split('-')[2]) )
Hora = close['data'].apply(lambda x: int(x.split(' ')[1].split(':')[0]) )

In [41]:
Ano = Ano.rename("Ano", axis='columns')
Mes = Mes.rename("Mes", axis='columns')
Dia = Dia.rename("Dia", axis='columns')
Hora = Hora.rename("Hora", axis='columns')

close = pd.concat([close, Ano, Mes, Dia, Hora], axis=1)

In [43]:
close.head(3)

,data,lastprice,bova11,closevale,closeitub,closepetr,closeb3sa,closebbdc,closepetr.1,closeabev,...,closeembr,closemult,closecpfe,closemrve,closemrfg,closeenbr,Ano,Mes,Dia,Hora
0,2020-01-02 09:00:00,117000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2020,1,2,9
1,2020-01-02 09:01:00,117020.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2020,1,2,9
2,2020-01-02 09:02:00,117025.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2020,1,2,9

In [44]:
# Carregar dados de probabilidades
prob = pd.read_csv('D_PROB.csv')

In [45]:
prob.head(3)

,data,lastprice,probsubir,probsubircorr,probsubirpondpesos,probsubirpondcorrpessos,indc,indv,powerc,powerv,probcurtoc,probmedioc,problongoc,probcurtosobe,probmediosobe,problongosobe
0,2020-01-02 09:00:00,117000.0,0.413,0.411,0.311,0.325,5.0,6.0,11.642,-58.525,0.25,0.155,0.448,0.347,0.222,0.479
1,2020-01-02 09:01:00,117020.0,0.413,0.375,0.311,0.333,5.0,6.0,11.642,-58.525,0.25,0.155,0.448,0.347,0.222,0.479
2,2020-01-02 09:02:00,117025.0,0.413,0.250,0.311,0.000,5.0,6.0,11.642,-58.525,0.25,0.155,0.448,0.347,0.222,0.479

In [48]:
# Criar uma função para separa data e hora em colunas 
# neste caso o procedimento vai ser de forma geral e  rapida
def dataHoraEmColumnas(df, columaDataName = 'data'):
    Ano = df[columaDataName].apply(lambda x: int(x.split(' ')[0].split('-')[0]) )
    Mes = df[columaDataName].apply(lambda x: int(x.split(' ')[0].split('-')[1]) )
    Dia = df[columaDataName].apply(lambda x: int(x.split(' ')[0].split('-')[2]) )
    Hora = df[columaDataName].apply(lambda x: int(x.split(' ')[1].split(':')[0]) ) 

    Ano = Ano.rename("Ano", axis='columns')
    Mes = Mes.rename("Mes", axis='columns')
    Dia = Dia.rename("Dia", axis='columns')
    Hora = Hora.rename("Hora", axis='columns')

    df = pd.concat([df, Ano, Mes, Dia, Hora], axis=1)
    return df

In [49]:
# aqui faz o procesamento da função e atualiza o data frame
prob = dataHoraEmColumnas(prob)

In [50]:
prob.head(3)

,data,lastprice,probsubir,probsubircorr,probsubirpondpesos,probsubirpondcorrpessos,indc,indv,powerc,powerv,probcurtoc,probmedioc,problongoc,probcurtosobe,probmediosobe,problongosobe,Ano,Mes,Dia,Hora
0,2020-01-02 09:00:00,117000.0,0.413,0.411,0.311,0.325,5.0,6.0,11.642,-58.525,0.25,0.155,0.448,0.347,0.222,0.479,2020,1,2,9
1,2020-01-02 09:01:00,117020.0,0.413,0.375,0.311,0.333,5.0,6.0,11.642,-58.525,0.25,0.155,0.448,0.347,0.222,0.479,2020,1,2,9
2,2020-01-02 09:02:00,117025.0,0.413,0.250,0.311,0.000,5.0,6.0,11.642,-58.525,0.25,0.155,0.448,0.347,0.222,0.479,2020,1,2,9

#### vamos conbinar close e prob(probabilidades) = 'cp'

In [51]:
# vamos conbinar close e prob(probabilidades) = 'cp'
cp =  pd.concat([prob, close], axis=1)

In [52]:
cp.head(3)

,data,lastprice,probsubir,probsubircorr,probsubirpondpesos,probsubirpondcorrpessos,indc,indv,powerc,powerv,...,closeembr,closemult,closecpfe,closemrve,closemrfg,closeenbr,Ano,Mes,Dia,Hora
0,2020-01-02 09:00:00,117000.0,0.413,0.411,0.311,0.325,5.0,6.0,11.642,-58.525,...,0.0,0.0,0.0,0.0,0.0,0.0,2020,1,2,9
1,2020-01-02 09:01:00,117020.0,0.413,0.375,0.311,0.333,5.0,6.0,11.642,-58.525,...,0.0,0.0,0.0,0.0,0.0,0.0,2020,1,2,9
2,2020-01-02 09:02:00,117025.0,0.413,0.250,0.311,0.000,5.0,6.0,11.642,-58.525,...,0.0,0.0,0.0,0.0,0.0,0.0,2020,1,2,9

### ver se tem colunas duplicadas

In [54]:
# a mesma coisa é cp['Dia']
cp.Dia

        Dia  Dia
0         2    2
1         2    2
2         2    2
3         2    2
4         2    2
...     ...  ...
144243   29   29
144244   29   29
144245   29   29
144246   29   29
144247   29   29

[144248 rows x 2 columns]

In [55]:
# tiramos as colunas duplicadas
cp = cp.loc[:,~cp.columns.duplicated()]

In [59]:
cp.head(3)

,data,lastprice,probsubir,probsubircorr,probsubirpondpesos,probsubirpondcorrpessos,indc,indv,powerc,powerv,...,closebrml,closecrfb,closetaee,closebrkm,closeembr,closemult,closecpfe,closemrve,closemrfg,closeenbr
0,2020-01-02 09:00:00,117000.0,0.413,0.411,0.311,0.325,5.0,6.0,11.642,-58.525,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2020-01-02 09:01:00,117020.0,0.413,0.375,0.311,0.333,5.0,6.0,11.642,-58.525,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-01-02 09:02:00,117025.0,0.413,0.250,0.311,0.000,5.0,6.0,11.642,-58.525,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [60]:
cp.columns

Index(['data', 'lastprice', 'probsubir', 'probsubircorr', 'probsubirpondpesos',
       'probsubirpondcorrpessos', 'indc', 'indv', 'powerc', 'powerv',
       'probcurtoc', 'probmedioc', 'problongoc', 'probcurtosobe',
       'probmediosobe', 'problongosobe', 'Ano', 'Mes', 'Dia', 'Hora', 'bova11',
       'closevale', 'closeitub', 'closepetr', 'closeb3sa', 'closebbdc',
       'closepetr.1', 'closeabev', 'closewege', 'closemglu', 'closeitsa',
       'closegndi', 'closebbas', 'closesuzb', 'closentco', 'closerent',
       'closejbss', 'closelren', 'closeggbr', 'closebbdc.1', 'closeugpa',
       'closebrdt', 'closeradl', 'closecsna', 'closevvar', 'closerail',
       'closeklbn', 'closeeqtl', 'closebpac', 'closelame', 'closebbse',
       'closevivt', 'closehapv', 'closeenev', 'closebrfs', 'closebrap',
       'closesanb', 'closesbsp', 'closecmig', 'closeccro', 'closebtow',
       'closehype', 'closetots', 'closeelet', 'closeengi', 'closepcar',
       'closeazul', 'closesula', 'closetims', 'closeegie', 'closecsan',
       'closeyduq', 'closeprio', 'closeirbr', 'closequal', 'closelcam',
       'closecple', 'closecogn', 'closegoau', 'closeelet.1', 'closeusim',
       'closeflry', 'closecyre', 'closebrml', 'closecrfb', 'closetaee',
       'closebrkm', 'closeembr', 'closemult', 'closecpfe', 'closemrve',
       'closemrfg', 'closeenbr'],
      dtype='object')

In [61]:
cp.shape

(144248, 93)

In [62]:
# contamos o numero de ceros das colunas
cp.isin([0]).sum()

data                      0
lastprice                 0
probsubir                 0
probsubircorr           956
probsubirpondpesos        0
                      ...
closemult             17571
closecpfe             16851
closemrve             17602
closemrfg             18060
closeenbr             16980
Length: 93, dtype: int64

In [64]:
cp.isin([0]).sum().sort_values(ascending=False)

closepcar             32717
closevvar             18642
closepetr             18521
closeusim             18460
closemglu             18446
                      ...
Hora                      0
probsubirpondpesos        0
lastprice                 0
probsubir                 0
data                      0
Length: 93, dtype: int64

In [65]:
# copiamos a base de dados
c = cp.copy()

In [67]:
# vamos dropar os valores ceros da coluna petrobras
c['closepetr'] == 0

0          True
1          True
2          True
3          True
4          True
          ...
144243    False
144244    False
144245    False
144246    False
144247    False
Name: closepetr, Length: 144248, dtype: bool

In [68]:
c.shape

(144248, 93)

In [69]:
# Retirar a petrobras se retirarmos Close_PCAR vamos peder muitos dados:

c.drop(c.index[c['closepetr'] == 0], inplace = True)

In [70]:
c.shape

(125727, 93)

In [71]:
c.head(3)

,data,lastprice,probsubir,probsubircorr,probsubirpondpesos,probsubirpondcorrpessos,indc,indv,powerc,powerv,...,closebrml,closecrfb,closetaee,closebrkm,closeembr,closemult,closecpfe,closemrve,closemrfg,closeenbr
71,2020-01-02 10:12:00,116945.0,0.660,0.750,0.724,0.774,19.0,2.0,30.360,-154.484,...,18.15,23.01,28.13,30.46,20.10,32.63,33.83,21.06,10.00,21.53
72,2020-01-02 10:13:00,117050.0,0.653,0.714,0.708,0.781,18.0,1.0,29.572,-298.919,...,18.16,23.01,28.15,30.50,20.11,32.65,33.85,21.08,10.06,21.53
73,2020-01-02 10:14:00,117030.0,0.628,0.679,0.680,0.750,17.0,1.0,29.441,-298.919,...,18.14,23.01,28.15,30.37,20.13,32.62,33.86,21.07,10.04,21.56

In [72]:
# setamos a data como indice
c = c.set_index('data')

In [73]:
c.head(3)

,lastprice,probsubir,probsubircorr,probsubirpondpesos,probsubirpondcorrpessos,indc,indv,powerc,powerv,probcurtoc,...,closebrml,closecrfb,closetaee,closebrkm,closeembr,closemult,closecpfe,closemrve,closemrfg,closeenbr
data,,,,,,,,,,,,,,,,,,,,,
2020-01-02 10:12:00,116945.0,0.660,0.750,0.724,0.774,19.0,2.0,30.360,-154.484,0.759,...,18.15,23.01,28.13,30.46,20.10,32.63,33.83,21.06,10.00,21.53
2020-01-02 10:13:00,117050.0,0.653,0.714,0.708,0.781,18.0,1.0,29.572,-298.919,0.765,...,18.16,23.01,28.15,30.50,20.11,32.65,33.85,21.08,10.06,21.53
2020-01-02 10:14:00,117030.0,0.628,0.679,0.680,0.750,17.0,1.0,29.441,-298.919,0.720,...,18.14,23.01,28.15,30.37,20.13,32.62,33.86,21.07,10.04,21.56

In [74]:
c.to_csv('DADOS_PROCESSADOS.csv')